.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 60px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: #f9af99;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background: #c0c8cc;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #f9af99;
	box-shadow: 0 0 0 2px #f9af99;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

/*my css*/

.images {
	float: left;
	padding-left: 50px;
}

#plate {
	height: 100px;
	width: 100px;
}

#stretch {
	height: 500px;
	width: 400px;
}

.header {
	color: #3c5683;
}

.tag {
color: #abe255;
}

h1 {
	color: #3c5683;
}

p {
	color: #abe255;
}

h3 {
	float: left;
}

.quiz {
	height: 400px;
	overflow-y: scroll;
}


/*.quiz > li .title{
	border:1px solid pink;
	color:pink;
}*/

.quiz > .question_container{
	display: block;
	float: none;
	min-height:110px;
}

/*media query*/

/*------------laptops-----------*/
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
		.ch-item {
		margin-left: 465px;
}

}

/* ----------- iPad mini ----------- */
/* Landscape */
@media only screen
  and (min-device-width: 1000px)
  and (max-device-width: 1199px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
		.ch-item {
		margin-left: 370px;
}

}


/*@media screen and (max-width: 661px) {
    .ch-item {
			margin-left: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .ch-item {
			margin-left: 465px;
    }
}

@media screen and (min-width: 1200px) {
    .ch-item {
			margin-left: 465px;
    }
}

*/
