.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 60px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: #fd4b4f;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background: #c0c8cc;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #fd4b4f;
	box-shadow: 0 0 0 2px #fd4b4f;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

/*my css*/

.background {
	background-color: #bfc8cc;
}

.header {
	font-family: 'Ribeye', cursive;
	font-size: 20px;
	color: #14042a;
}

.tag {
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
	font-size: 15px;
	color: #fd4b4f;
}

.images {
	float: left;
	padding-left: 50px;
}

#plate {
	height: 100px;
	width: 100px;
}

#stretch {
	height: 500px;
	width: 400px;
}

h1 {
	color: #3c5683;
}

p {
	color: #fd4b4f;
}

.quote {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}

.steps {
	font-family: 'Ribeye', cursive;
	color: #14042a;
}

h3 {
	float: left;
}

.info-text {
	color: #fd4b4f;
}

.quiz {
	height: 400px;
	overflow-y: scroll;
}


/*.quiz > li .title{
	border:1px solid pink;
	color:pink;
}*/

.quiz > .question_container{
	display: block;
	float: none;
	min-height:110px;
}

/*media query*/

@media (max-width: 400px) {
       /* rules for mobile horizontal (480 > 768)  */
			 .ch-item{
				 margin-left: 78px;
			 }
}

@media (min-width: 480px) {
       /* rules for mobile horizontal (480 > 768)  */
			 .ch-item{
				 margin-left: 110px;
			 }
}

@media (min-width: 500px) {
	 /* rules for tablet (768 > 992) */
	 .ch-item{
			margin-left: 200px;
	 }
}

    @media (min-width: 763px) {
       /* rules for tablet (768 > 992) */
			 .ch-item{
				 	 margin-left: 250px;
			 }
}
    @media (min-width: 992px) {
       /* rules for desktop (992 > 1200) */
			 .ch-item{
				 margin-left: 356px;
			 }
}
    @media (min-width: 1200px) {
       /* rules for large (> 1200) */
			 .ch-item{
				 margin-left: 458px;
			 }
    }
